<!DOCTYPE html>
<html>
  <head>
    <title>sign up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>sign up</h2>
    <form action="/users/signup" method="POST">
      <div>
        username:<input type="text" name="username">
      </div>
      <div>
        password:<input type="password" name="password">
      </div>
      <div>
        e-mail:<input type="email" name="email">
      </div>
      <button type="submit">sign up</button>
    </form>
  </body>
</html>
